
body
{
	font-family:arial;
	font-size:12px;
}


.title
{
	font-family:arial;
	font-size:12px;
	font-weight: bold;
	color:#362E80;
	
}


td
{
	font-family:arial;
	font-size:12px;
}


.navtopb
{
	font-family:verdana;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
}

a.navfat, a.navfat:visited
{
	font-family:verdana;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	text-decoration: none;
}

a.navfat:hover
{
	font-family:verdana;
	font-size:11px;
	color:#000000;
	font-weight:bold;
	text-decoration:none;
		
}


a.navtop, a.navtop:visited
{
	font-family:verdana;
	font-size:11px;
	color:#ffffff;
	font-weight:bold;
	text-decoration: none;
}

a.navtop:hover
{
	font-family:verdana;
	font-size:11px;
	color:#F8BF24;
	font-weight:bold;
	text-decoration:none;
		
}


a.nav, a.nav:visited
{
	font-family:verdana;
	font-size:11px;
	color:#000000;
	text-decoration: none;
}

a.nav:hover
{
	font-family:verdana;
	font-size:11px;
	color:#000000;
	text-decoration:none;
}


a, a:visited
{
	color:#000080;
}

a:hover
{
	color:#F8BF24;
}


.slider {
    margin:     10px;
    width:      300px;
}
							    

.tb {
    background-color : #cccccc;
}
    
.th {
    background-color : #e7e7e7;
}

.tr {
    background-color : #ffffff;
}

.error {
    color: #aa1111;
    font-weight:bold;
}
	    
